body{
    margin: 0;
    padding: 0;
}

main{
    max-width: 1000px;
    margin: 0px auto;
}

h2{
    color: slateblue;
}

.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player img{
    height: 60px;
    margin-right: 10px;
}

.player{
    display: flex;
    align-items: center;
}

@media (max-width:992px){
    .top-players{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 10px;
    }
    h2{
        margin: 10px 10px;
    }
}

@media (max-width:688px){
    .top-players{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    h2{
        margin: 10px 10px;
    }
}